$primaryColor: #30cfbf;
$secondColor: #1d7c72;
$darkColor: #0a2926;
$lightColor: #d6f5f2;
$borderRadius: 5px;
$shadowBox: 3px 4px 5px 0px #7b7a7a70;
$shadowBigBox: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
$noise: "../images/noise.svg";

$dragonball: #ef8915;
$dragonball2: #8f510a;
$dragonballdark: #301b03;
$dragonballlight: #fce7cf;

$dragonball: #6358a7;
$dragonball2: #3b3564;
$dragonballdark: #e0deed;
$dragonballlight: #141221;
