$primaryColor: #2ec4b6;
$secondColor: #3778bd;
$darkColor: #000;
$lightColor: #e5f9f8;
$borderRadius: 5px;
$shadowBox: 3px 4px 5px 0px #7b7a7a70;
$shadowBigBox: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
$noise: "../images/noise.svg";
