@use "reset";
@use "vars";
:root {
  --primaryColor: #2ec4b6;
  --lightColor: #e5f9f8;
  --secondColor: #229186;
  --darkColor: #1f1f1f;
}
* {
  box-sizing: border-box;
  transition: background-color 0.2s;
}
body {
  width: 100%;
  background-color: var(--lightColor);
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: var(--primaryColor);
  width: 100%;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  h1 {
    color: var(--lightColor);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .logo {
    width: 15%;
    max-width: 50px;
    height: 50px;
    background-color: var(--lightColor);
    -webkit-mask: url(../images/logo.svg) no-repeat center;
    mask: url(../images/logo.svg) no-repeat center;
    box-shadow: vars.$shadowBox;
  }
  &__themes {
    &__container {
      background-color: var(--lightColor);

      border-radius: 0 0 vars.$borderRadius vars.$borderRadius;
      width: 0;
      max-height: 300px;
      overflow-y: scroll;
      z-index: 1;
      position: absolute;
      overflow: visible;
      transform: translateY(100%);
      display: block;
      transition: 0.3s;
      right: 0;
      bottom: 0;
      box-shadow: vars.$shadowBox;
      &--open {
        border: 1px solid var(--primaryColor);
        border-top: none;
        width: 100%;
      }
    }
    &__button {
      width: 50px;
      height: 50px;
      background-color: var(--primaryColor);
      border-bottom: 3px solid var(--lightColor);
      border-left: 2px solid var(--lightColor);
      border-right: 1px solid var(--lightColor);
      border-top: none;
      border-radius: 50%;
      box-shadow: vars.$shadowBox;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: filter 0.3s;
      cursor: pointer;
      &:hover {
        filter: brightness(90%);
      }
      &:active {
        filter: brightness(75%);
      }
      &__icon {
        width: 40px;
        height: 40px;
        background-color: var(--lightColor);
        -webkit-mask: url(../images/theme.svg) no-repeat center;
        mask: url(../images/theme.svg) no-repeat center;
      }
    }
  }
}
.main-game {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 85vh;
  .timer {
    &__total {
      position: relative;
      width: 75%;
      border: 1px solid #fff;
      border-radius: vars.$borderRadius;
      height: 1rem;
      background-color: var(--secondColor);
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: vars.$borderRadius;

        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.39959733893557425) 0%,
          rgba(148, 147, 147, 0) 21%,
          rgba(0, 0, 0, 0.3295693277310925) 49%,
          rgba(122, 122, 122, 0) 78%,
          rgba(255, 255, 255, 0.396796218487395) 96%
        );
      }
    }
    &__elapsed {
      position: relative;
      height: 100%;
      width: 1%;
      border-radius: vars.$borderRadius;
      background-color: var(--primaryColor);
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: var(--borderRadius);
        background: #4a4a4a;
        background: linear-gradient(
          0deg,
          #4a4a4a12 0%,
          #ffffff4e 51%,
          #00000013 100%
        );
      }
      &__decor {
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;
        border-radius: 50%;
        height: 100%;
        transform: translateX(50%);
        z-index: 1;
        background-color: var(--primaryColor);
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          width: 4px;
          height: 100%;
          border-radius: 50%;
          background: #000000;
          background: linear-gradient(61deg, #0000004d 0%, #ffffffd2 100%);
        }
      }
    }
  }
  .board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    padding: 0 2rem;
    padding-top: 1rem;
    &__cards {
      cursor: pointer;
      position: relative;
      margin: 0.3rem;
      width: 90px;
      height: 90px;
      perspective: 2000px;
      perspective-origin: bottom right;
      transform-style: preserve-3d;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

      &--front,
      &--back {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid #333;
        border-radius: vars.$borderRadius;
        backface-visibility: hidden; //on cache la face qui n'est pas visible
        -webkit-backface-visibility: hidden;
        box-shadow: vars.$shadowBox;
        -webkit-box-shadow: vars.$shadowBox;
        -moz-box-shadow: vars.$shadowBox;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: vars.$borderRadius;
        }
      }
      &--back {
        background: var(--primaryColor);
        &::after {
          background: #a8a8a8;
          background: radial-gradient(
            circle,
            #a8a8a812 0%,
            #ffffff44 51%,
            #c1c1c113 100%
          );
        }
      }
      &--front {
        background-color: #fff;
        //on retourne la carte pour voir la face arrière
        transform: rotateY(180deg);
        &::after {
          background: #000000;
          background: linear-gradient(
            315deg,
            #00000019 0%,
            #94939300 21%,
            #fffefe04 37%,
            #ffffff54 49%,
            #ffffff00 60%,
            #7a7a7a00 80%,
            #0000001a 100%
          );
        }
      }
      &--reveal {
        //on retourne la carte pour voir l'image
        transform: rotateY(180deg);
        cursor: initial;
      }

      &__images {
        position: relative;
        width: 90%;
        max-height: 90%;
        object-fit: cover;
      }
    }
  }
}

.modal {
  position: relative;
  width: 85%;
  border-radius: vars.$borderRadius;
  background-color: #ccc;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  animation-name: animatetop;
  animation-duration: 0.4s;
  h2,
  h3 {
    font-weight: bold;
  }
  h2 {
    font-size: 1.8rem;
    padding: 1rem;
  }
  h3 {
    padding-top: 1rem;
    font-size: 1.3rem;
  }
  p {
    padding: 0.5rem;
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__close {
    display: none;
  }
  &__header {
    border-radius: vars.$borderRadius vars.$borderRadius 0 0;
    text-align: center;
    color: var(--lightColor);
    background-color: var(--primaryColor);
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.3rem;
    padding: 1rem;
    background-color: var(--lightColor);
    &__title {
      color: var(--primaryColor);
    }
    &__text {
      text-align: center;
    }
  }
  &__footer {
    background-color: var(--primaryColor);
    border-radius: 0 0 vars.$borderRadius vars.$borderRadius;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
      padding: 0.5rem 1rem;
      border: none;
      box-shadow: none;
      border-radius: vars.$borderRadius;
      background-color: var(--secondColor);
      background: var(--secondColor);
      color: var(--lightColor);
      border: 1px solid var(--lightColor);
      transition: 0.3s;
      &:hover {
        filter: brightness(90%);
      }
    }
  }
}
.score {
  &__table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid var(--primaryColor);
    margin: auto;
    overflow: auto;
    thead {
      background: var(--primaryColor);
      color: #fff;
    }
    thead tr {
      display: block;
    }
    tbody {
      display: block;
      width: 100%;
      overflow: auto;
      height: 100px;
    }
    td,
    th {
      padding: 0.3rem;
      text-align: center;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.my-score {
  background-color: var(--primaryColor);
  color: var(--lightColor);
}
.input {
  &__container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: vars.$shadowBox;
    border-radius: vars.$borderRadius;
    background-color: #fff;
    input {
      width: 100%;
      height: 100%;
      display: block;
      padding: 0.4rem 0.4rem;
      border-radius: 0 vars.$borderRadius vars.$borderRadius 0;
      border: none;
      box-shadow: none;
      margin: 0;
      &::placeholder {
        text-align: center;
      }
      &:focus {
        border: none;
        outline: none;
        border-bottom: 4px solid var(--secondColor);
      }
    }
    label {
      background-color: var(--secondColor);
      border-radius: vars.$borderRadius 0 0 vars.$borderRadius;
      color: var(--lightColor);
      font-size: 0.8rem;
      text-align: center;
      padding: 0.4rem 0.4rem;
      span {
        font-size: 0.5rem;
      }
    }
  }
}
/* Add media-queries*/
@media screen and (min-width: 700px) {
  .header {
    &__themes {
      &__container {
        &--open {
          width: 50%;
        }
      }
    }
  }
  .main-game {
    .board {
      &__cards {
        width: 110px;
        height: 140px;
      }
    }
  }
  .modal {
    width: 68%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    &__themes {
      &__container {
        &--open {
          width: 25%;
        }
      }
    }
  }
  .main-game {
    .board {
      width: 90%;
      max-width: 1000px;
      &__cards {
        width: 130px;
        margin: 0.5rem;
        height: 160px;
      }
    }
  }
  .modal {
    width: 60%;
  }
  .score {
    &__table {
      td,
      th {
        width: 150px;
      }
    }
  }
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
